@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Shanti);

body {
  font-family: Shanti, sans-serif;
  font-size: 12pt;
  margin: 10% 25%;
  background: #002b36;
  color: #a0aaaa;
}

h1 {
  color: #CB4B16;
  font-size: 20pt;
}

h2 {
  color: #b58900;
  font-size: 18pt;
}

h3 {
  color: #268bd2;
  font-size: 16pt;
}

a {
  color: #719e07;
  text-decoration: none;
}

a:hover {
  color: #859900;
}

code, pre {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 9pt;
}

#bottom {
  color: #004b56;
}

#bottom a {
  color: #005b66;
  text-decoration: underline;
}

#bottom a:hover {
  color: #fff;
}
