@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro);


body {
  font-family: 'Source Sans Pro', serif;
  font-size: 14pt;
  margin: 10% 25%;
  color: #332;
  background: #FFF;
  line-height: 20pt;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

a {
  color: #719e07;
  text-decoration: none;
}

a:hover {
  color: #859900;
}

code, pre {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12pt;
  background: #FDF6E3;
  padding: 2px;
  margin: -2px;
}

#bottom {
  color: #AA8;
}

/*
#bottom a {
  color: #AA8;
  text-decoration: underline;
}

#bottom a:hover {
  color: #886;
}
*/
